.no-match-class {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        font-weight: lighter;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 1.3rem;
    }
}