.centering-spinner {
	align-items: center;
}
.centering-spinner,
.links-container {
	height: 80vh;
	display: grid;
	justify-content: center;
	.urls-list {
		width: 100%;
		max-width: 650px;
		counter-reset: gradient-counter;
		list-style: none;
		margin: 1.75rem 0 0 0;
		padding-left: 0;
		h2 {
			margin-bottom: 50px;
			color: #ffa500;
		}
		.links-wrapper,
		a {
			display: block;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		.links-wrapper {
			background: white;
			border-radius: 0 0.5rem 0.5rem 0.5rem;
			@extend %boxshadow;
			counter-increment: gradient-counter;
			margin-top: 1rem;
			min-height: 3rem;
			padding: 1rem 1rem 1rem 3rem;
			position: relative;
			&::before,
			&::after {
				background: linear-gradient(135deg, #6ddfe7 0%, #ffa500 100%);
				border-radius: 0rem 1rem 0 1rem;
				content: '';
				height: 2.3rem;
				left: 0.2rem;
				overflow: hidden;
				position: absolute;
				top: 0.2rem;
				width: 2.3rem;
			}
			&::before {
				align-items: flex-end;
				@extend %boxshadow;
				content: counter(gradient-counter);
				color: black;
				display: flex;
				font: 900 1.3em/1 'Istok Web';
				justify-content: flex-end;
				padding: 0.125em 0.25em;
				z-index: 1;
			}
			@for $i from 1 through 5 {
				&:nth-child(10n + #{$i}):before {
					background: linear-gradient(
						135deg,
						rgba(#ffa500, $i * 0.2) 0%,
						rgba(#f5cb7e, $i * 0.2) 100%
					);
				}
			}
			@for $i from 6 through 10 {
				&:nth-child(10n + #{$i}):before {
					background: linear-gradient(
						135deg,
						rgba(#ffa500, 1 - (($i - 5) * 0.2)) 0%,
						rgba(#f5cb7e, 1 - (($i - 5) * 0.2)) 100%
					);
				}
			}
			+ li {
				margin-top: 2rem;
			}
		}
	}
}

@media (max-width: 680px) {
	.urls-list {
		font-size: 0.9rem;
		.links-wrapper {
			max-width: 500px;
		}
	}
}

@media (max-width: 520px) {
	.urls-list {
		font-size: 0.9rem;
		.links-wrapper {
			max-width: 350px;
		}
	}
}
